<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="touchMouseMate" type="Lextm.TouchMouseMate.Configuration.TouchMouseMateSection, TouchMouseMate" allowExeDefinition="MachineToLocalUser" />
  </configSections>
  <touchMouseMate minClickTimeout="50" 
                  maxClickTimeout="250" 
                  middleClick="true"
                  touchOverClick="true"
                  leftHandMode="false" />
</configuration>